.livetracking {
    position: relative;
    background-color: #68FF5B;
    box-sizing: border-box;
    position: relative;
    width: 370px;
    height: 50px;
    border-radius: 66px;
    transform: rotate(-0.37deg);
    margin-top: 50px;
    padding: 3px;
    margin-left: -26px;
    border-radius: 66px;
    transform: rotate(-0.37deg);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.0918242px;
    
}

#productId {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 52px;
    letter-spacing: 0.177527px;
    color: #FFFFFF;
    text-align: start;
    padding-left: 10px;
}

#product_name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 43px;
    line-height: 52px;
    letter-spacing: 0.177527px;
    color: #FFFFFF;
    text-align: start;
    padding-left: 10px;
}

.imgdisplay {
    box-sizing: border-box;
    color: #fff;
    position: relative;
    width: 227px;
    height: auto;
    min-height: 222px;
    background: #242424;
    border-radius: 22px;
    margin-left: 22px;
    margin-top: 18px;
    margin-right: 22px;
}

.imgdisplay1 {
    box-sizing: border-box;
    padding: 1px;
    height: 172px;
    width: 157px;
}

.baseinfo {
    box-sizing: border-box;
    color: #fff;
    position: relative;
    width: 410px;
    height: auto;
    background: #242424;
    border-radius: 22px;
    margin-right: 22px;
    margin-left: 0%;
    margin-top: 18px;
}

.mfg {
    padding-top: 16px;
    font-size: xx-large;
}

.tests {
    box-sizing: border-box;
    color: #fff;
    position: relative;
    width: 806px;
    height: auto;
    background: #242424;
    border-radius: 22px;
    margin-right: 22px;
    margin-left: 0%;
    margin-top: 18px;
}

.detailedtracing {
    position: relative;
    background-color: #68FF5B;
    box-sizing: border-box;
    position: relative;
    width: 370px;
    height: 50px;
    border-radius: 66px;
    transform: rotate(-0.37deg);
    margin-top: 50px;
    padding: 3px;
    margin-left: -26px;
    border-radius: 66px;
    transform: rotate(-0.37deg);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.0918242px;
}

.stage {
    box-sizing: border-box;
    color: #fff;
    position: relative;
    width: 1240px;
    height: auto;
    background: #242424;
    border-radius: 22px;
    margin-top: 3%;
    margin-bottom: 3%;
    
}

#greenblock {
    width: 100px;
    height: 113px;
}

#yellowblock {
    width: 100px;
    height: 113px;
}

#blueblock {
    width: 100px;
    height: 113px;
}

@media (max-width: 768px){
    .imgdisplay{
        margin: auto;
        margin-top: 5%;
    }
    
    .baseinfo{
        margin: auto;
        margin-top: 5%;
        max-width: 90%;
    }

    .tests{
        margin: auto;
        margin-top: 5%;
        max-width: 90%;
    }

    .stage{
        width: auto;
        margin: auto;
        margin-top: 5%;
    }
}